{% extends 'base.html' %} {% load static %} {% block content %}
<div class="FAQ py-5">
    <div class="container">
        <div class="section_title">
            <h1 class="section-heading fw-bold text-center text_darkred">
                Frequently Asked Questions
            </h1>
            <div class="title_desc text-justify fw-semibold pt-3">
                Coming Soon: A list of the most frequently asked questions we
                receive.
            </div>
        </div>
    </div>
</div>
{% endblock content %}
