{% extends 'base.html' %} {% load static %} {% block content %}
<div class="our_services py-5">
    <div class="container">
        <div class="section_title">
            <h1 class="section-heading fw-bold text-center text_darkred">
                Opportunities
            </h1>
            <div class="title_desc text-justify">
                Are you a researcher or scientist looking to have active
                metabolomics mentoring? Check out the Research Hotel.
            </div>
            <div class="title_desc text-justify">
                Are you looking for a shorter workshop to enhance your
                understanding of metabolomics, bioinformatics, or another
                related field? Check out our upcoming Workshops.
            </div>
            <div class="title_desc text-justify">
                Looking for employment with the Wishart Node of TMIC? Check out
                the positions available.
            </div>
        </div>
        <div>
            <h2 class="section-heading fw-bold text-center text_darkred">
                Available Position
            </h2>
            <div class="title_desc text-justify">
                There are no posted positions open right now. Please check back
                later or contact us to see if you might be a fit.
            </div>
        </div>

        {% endblock content %}
    </div>
</div>
