{% extends 'base.html' %} {% load static %} {% block content %}
<div class="m-4">
    <div>
        <h2 class="section-heading fw-bold text-center text_darkred">
            Research Publications
        </h2>
        <div class="text-justify text-dark">
            <h3 class="text-dark" style="font-size: 20px">
                <strong>Publication Policy</strong>
            </h3>
            <p class="text-dark" style="font-size: 20px">
                Listed below are recent publications written or co-written by
                Dr. Wishart or someone on the Wishart Node team. Publications,
                posters, or oral presentations resulting from work performed by
                The Wishart Node of The Metabolomics Innovation Centre should
                acknowledge the Node, TMIC and/or the Researcher(s). We may use
                this information to apply for additional funding to keep our Lab
                operational and to continue to offer budget-friendly
                metabolomics analysis. Please keep us informed if you quote our
                work or use one of the papers for your own research. Search
                publications by topic or keyword.
            </p>
        </div>
    </div>
    <div>
        <h2 class="section-heading fw-bold text-left text_darkred">
            Health and Nutrition
        </h2>
        <div class="text-justify text-dark">
            <h3 class="text-dark" style="font-size: 20px">2022</h3>
            <a href="https://www.science.org/doi/full/10.1126/sciadv.abj6779"
                ><ul class="text-dark" style="font-size: 20px">
                    <li>
                        <strong>
                            Systemic inflammation and metabolic disturbances
                            underlie inpatient mortality among ill children with
                            severe malnutrition</strong
                        ><br />
                        LeVatte M, Keshteli AH, Zarei P, Wishart DS.
                        2022;15(1):1-9. doi: 10.1159/000518489. Epub 2021 Sep 8.
                        PMID: 34518463.
                    </li>
                    <li>
                        <strong
                            >The impact of methodological choices when
                            developing predictive models using urinary
                            metabolite data</strong
                        ><br />
                        Nicolas Krstic, Kevin Multani, DavidS. Wishart, tom
                        Blydt-Hansen, Gabriela V. Cohen Freue
                    </li>
                    <li>
                        <strong
                            >Urinary metabolomics to develop predictors for
                            pediatric acute kidney injury</strong
                        >
                        <br/ >Tian S, Cao X, Greiner R, Li C, Guo A, Wishart DS.
                        J Chem Inf Model. 2021 Jun 28;61(6):3128-3140. doi:
                        10.1021/acs.jcim.1c00144. Epub 2021 May 26. PMID:
                        34038112.
                    </li>
                </ul></a
            >
        </div>
        <div class="text-justify text-dark">
            <h3 class="text-dark" style="font-size: 20px">2021</h3>
            <a href="https://www.science.org/doi/full/10.1126/sciadv.abj6779"
                ><ul class="text-dark" style="font-size: 20px">
                    <li>
                        <strong>
                            Applications of metabolomics to precision
                            nutrition.</strong
                        ><br />
                        LeVatte M, Keshteli AH, Zarei P, Wishart DS.
                        2022;15(1):1-9. doi: 10.1159/000518489. Epub 2021 Sep 8.
                        PMID: 34518463.
                    </li>
                </ul></a
            >
        </div>
        <div class="text-justify text-dark">
            <h3 class="text-dark" style="font-size: 20px">2020</h3>
            <a href="https://www.science.org/doi/full/10.1126/sciadv.abj6779"
                ><ul class="text-dark" style="font-size: 20px">
                    <li>
                        <strong>
                            CyProduct: A software tool for accurately predicting
                            the byproducts of human cytochrome P450
                            metabolism</strong
                        ><br />
                        Tian S, Cao X, Greiner R, Li C, Guo A, Wishart DS. J
                        Chem Inf Model. 2021 Jun 28;61(6):3128-3140. doi:
                        10.1021/acs.jcim.1c00144. Epub 2021 May 26. PMID:
                        34038112.
                    </li>
                    <li>
                        <strong
                            >Exploring biological impacts of prenatal nutrition
                            and selection for residual feed intake on beef
                            cattle using omics technologies: A review.</strong
                        ><br />
                        Foroutan A, Wishart DS, Fitzsimmons C. Front Genet. 2021
                        Nov 1;12:720268. doi: 10.3389/fgene.2021.720268. PMID:
                        34790219; PMCID: PMC8592258.
                    </li>
                    <li>
                        <strong
                            >HMDB 5.0: the human metabolome database for
                            2022.</strong
                        >
                        <br/ >Nucleic Acids Research
                    </li>
                    <li>
                        <strong
                            >Metabolomics in exercise and sports: A systematic
                            review.</strong
                        >
                        <br/ >Khoramipour K, Sandbakk Ø, Keshteli AH, Gaeini AA,
                        Wishart DS, Chamari K. Sports Med. 2021 Oct 30. doi:
                        10.1007/s40279-021-01582-y. Epub ahead of print. PMID:
                        34716906.
                    </li>
                    <li>
                        <strong
                            >Neural crest-specific loss of Bmp7 leads to
                            midfacial hypoplasia, nasal airway obstruction and
                            disordered breathing, modeling obstructive sleep
                            apnea.</strong
                        >
                        <br/ >Baddam P, Biancardi V, Roth DM, Eaton F,
                        Thereza-Bussolaro C, Mandal R, Wishart DS, Barr A,
                        MacLean J, Flores-Mir C, Pagliardini S, Graf D. Dis
                        Model Mech. 2021 Jan 11;14(2):dmm047738. doi:
                        10.1242/dmm.047738. Epub ahead of print. PMID: 33431521;
                        PMCID: PMC7888714.
                    </li>
                    <li>
                        <strong>
                            The natural products magnetic desonance
                            database.</strong
                        >
                        <br/ >Nucleic Acids Research
                    </li>
                </ul></a
            >
        </div>
    </div>
    <div>
        <h2 class="section-heading fw-bold text-left text_darkred">
            Agriculture
        </h2>
        <div class="text-justify text-dark">
            <h3 class="text-dark" style="font-size: 20px">2022</h3>
            <a href="https://www.science.org/doi/full/10.1126/sciadv.abj6779"
                ><ul class="text-dark" style="font-size: 20px">
                    <li>
                        <strong>
                            Identification of Serum-Predictive Biomarkers for
                            Subclinical Mastitis in Dairy Cows and New Insights
                            into the Pathobiology of the Disease</strong
                        ><br />
                        Guanshi Zhang, Dawid Tobolski, Grzegorz Zwierzchowski,
                        Rupasri Mandal, David S. Wishart, Burim N. Ametaj. doi:
                        10.1021/acs.jafc.1c07281
                    </li>
                    <li>
                        <strong
                            >Advances in Metabolomics-Driven Diagnostic Breeding
                            and Crop Improvement</strong
                        ><br />
                        Ali Razzaq, David S. Wishart, Shabir Hussain Wani,
                        Muhammad Khalid Hameed, Muhammad Mubin, Fozia Saleem
                    </li>
                    <li>
                        <strong
                            >Blood Metabolomic Phenotyping of Dry Cows Could
                            Predict the High Milk Somatic Cells in Early
                            Lactation—Preliminary Results</strong
                        >
                        <br/ >Klevis Haxhaij, Zhilli Li, Matthew Johnson,
                        Suzanna M Dunn, David S Wishart, Burim N Ametaj. Dairy
                        2022 doi: 10.3390/dairy3010005
                    </li>
                    <li>
                        <strong
                            >Predictive Blood Biomarkers of Sheep Pregnancy and
                            Litter Size</strong
                        >
                        <br/ > Seyed Ali Goldansaz, Susan Markus, Graham
                        Plastow, David S Wishart. Research Square doi:
                        10.21203/rs.3.rs-1375860/v1
                    </li>
                </ul></a
            >
        </div>
        <div class="text-justify text-dark">
            <h3 class="text-dark" style="font-size: 20px">2021</h3>
            <a href="https://www.science.org/doi/full/10.1126/sciadv.abj6779"
                ><ul class="text-dark" style="font-size: 20px">
                    <li>
                        <strong>
                            A Multi-Platform Metabolomics Approach Identifies
                            Urinary Metabolite Signatures that Differentiate
                            Ketotic from Healthy Dairy Cows. </strong
                        ><br />
                        Zhang G, Mandal R, Wishart DS, Ametaj BN. Front Vet Sci.
                        2021 Jan 26;8:595983. doi: 10.3389/fvets.2021.595983.
                        PMID: 33575283; PMCID: PMC7871000.
                    </li>
                    <li>
                        <strong
                            >A targeted serum metabolomics gc–ms approach
                            identifies predictive blood biomarkers for retained
                            placenta in holstein dairy cows.</strong
                        ><br />
                        Zhang G, Tobolski D, Zwierzchowski G, Mandal R, Wishart
                        DS, Ametaj BN. Metabolites. 2021 Sep 17;11(9):633. doi:
                        10.3390/metabo11090633. PMID: 34564449; PMCID:
                        PMC8466882.
                    </li>
                    <li>
                        <strong
                            >A comprehensive targeted metabolomics assay for
                            crop plant sample analysis.</strong
                        >
                        <br/ >Zheng J, Johnson M, Mandal R, Wishart DS.
                        Metabolites. 2021 May 11;11(5):303. doi:
                        10.3390/metabo11050303. PMID: 34064699; PMCID:
                        PMC8151637.
                    </li>
                    <li>
                        <strong
                            >New insights into the obligatory nature of
                            cyclooxygenase-2 and PGE2 during early chick
                            embryogenesis.</strong
                        >
                        <br/ >Verma U, Gautam M, Parmar B, Khaire K, Wishart DS,
                        Balakrishnan S. Biochim Biophys Acta Mol Cell Biol
                        Lipids. 2021 Apr;1866(4):158889. doi:
                        10.1016/j.bbalip.2021.158889. Epub 2021 Jan 15. PMID:
                        33454433. Environment
                    </li>
                </ul></a
            >
        </div>
    </div>
</div>
{% endblock content %}
