{% extends 'base.html' %} {% load static %} {% block content %}
<div class="testimonials py-5">
    <div class="container">
        <div class="section_title">
            <h1 class="section-heading fw-bold text-center text_darkred">
               Testimonials
            </h1>
            <div class="title_desc text-justify fw-semibold pt-3">
                Client and partner testimonials are coming soon!

            </div>
        <div><h2 class="section-heading fw-bold text-center text_dark">Ready to have your own experience with the Wishart Node?<h2></div>    
        </div>

        {% endblock content %}
    </div>
</div>
