{% extends 'base.html' %} {% load static %} {% block content %}
<style>
    .mystyle {
        font-size: 20px;
    }
</style>
<div class="m-4">
    <div class="p-4">
        <h1 class="section-heading fw-bold text-center text_darkred">
            Metabolomics and Bioinformatics Videos
        </h1>
    </div>
    <div>
        <h2 class="section-heading fw-bold text-left text_darkred">
            Metabolomics and Life Sciences Series
        </h2>
    </div>
    <div>
        <p class="mystyle text-dark" style="font-size: 20px">
            Watch videos produced jointly by BioAlberta and The Metabolomics
            Innovation Centre, and provided courtesy of the Wishart Node of
            TMIC.
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-dark">Metabolomics and Life Sciences</h2>
                <p class="mystyle text-dark">
                    This presentation is an introduction to the field of
                    metabolomics. It explains how metabolomics works, why it’s
                    being used, and what it can do. Dr. David Wishart, TMIC
                    co-director and leader of the Wishart Node, explains how
                    Alberta has become a world leader in metabolomics and gives
                    a brief history of The Metabolomics Innovation Centre
                    (TMIC). TMIC is Canada’s national metabolomics facility and
                    headquartered in Alberta. See a virtual tour of TMIC and
                    hear of instances where metabolomics is allowing discoveries
                    to be translated into practice.
                </p>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9 w-100">
                    <iframe
                        class="embed-responsive-item"
                        src="https://youtu.be/CvbRx77LPZU"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-dark">Metabolomics and Precision Medicine</h2>
                <p class="mystyle text-dark">
                    Alberta aims to become a leader in the emerging field of
                    precision medicine. Following a brief summary of how
                    metabolomics is playing a leading role in many areas of
                    precision medicine, learn where and how metabolomics is
                    already being used by Alberta companies in precision
                    medicine applications.
                </p>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9 w-100">
                    <iframe
                        class="embed-responsive-item"
                        src="https://youtu.be/CvbRx77LPZU"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-dark">Metabolomics and Agri-Food</h2>
                <p class="mystyle text-dark">
                    The agri-food sector is one of Alberta’s leading economic
                    drivers. Dr. David Wishart explains how metabolomics is
                    being used in many areas of agriculture, ranging from
                    analyzing crops and assessing soils, to quantifying beef
                    cattle performance traits and detecting disease.
                    Metabolomics is also being used in food, nutrition, and food
                    safety analysis, and offers a powerful way to precisely
                    identify and quantify macronutrients, micronutrients, and
                    contaminants in foods and natural products. Learn how TMIC
                    is leading the way toward both precision agriculture and
                    precision nutrition.
                </p>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9 w-100">
                    <iframe
                        class="embed-responsive-item"
                        src="https://youtu.be/CvbRx77LPZU"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="text-dark">Metabolomics and the Environment</h2>
                <p class="mystyle text-dark">
                    Monitoring water, soil, and air is becoming increasingly
                    important as the human footprint on our planet grows. Dr.
                    David Wishart explains how metabolomics can be used to make
                    environmental monitoring easier and more comprehensive, and
                    how metabolomics is used to track water contamination,
                    assess soils, and identify chemicals in the air. Find out
                    how metabolomics is being widely used to identify and
                    quantify herbicides, pesticides, and other toxic compounds
                    in our food, water, and environment, and how TMIC is
                    developing many cutting-edge techniques and resources in
                    this area.
                </p>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9 w-100">
                    <iframe
                        class="embed-responsive-item"
                        src="https://youtu.be/CvbRx77LPZU"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="section-heading fw-bold text-left text_darkred">
                    An Introduction to Statistics for Metabolomics
                </h2>
                <br />
                <p class="mystyle text-dark">
                    This course, taught by Dr. David Wishart, gives you an
                    introduction to statistics for metabolomics.
                </p>
                <p class="mystyle text-dark">
                    <strong>Learning Objectives: </strong>
                </p>
                <ol class="mystyle text-dark">
                    <li>Learn about data types</li>
                    <li>Learn about distributions and significance</li>
                    <li>
                        Learn about univariate statistics (t-tests and ANOVA)
                    </li>
                    <li>Learn about correlation and clustering</li>
                    <li>
                        Learn about multivariate statistics (PCA and PLS-DA) and
                        ROC curves
                    </li>
                </ol>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-16by9 w-100">
                    <iframe
                        class="embed-responsive-item"
                        src="https://youtu.be/CvbRx77LPZU"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="section-heading fw-bold text-left text_darkred">
                    An Introduction to Statistics for Metabolomics
                </h2>
                <br />
                <p class="mystyle text-dark">
                    Visit the Wishart Lab’s YouTube channel for video guides to
                    increase your understanding of web servers and databases
                    used in bioinformatics.
                </p>
            </div>
            <div class="col-md-4">
                <img
                    src="https://i0.wp.com/tmicwishartnode.ca/wp-content/uploads/2022/04/Bioninformatics-Logo.jpeg?w=176&ssl=1"
                    class="img-fluid w-80 mx-auto my-4 border border-dark border-3 p-3"
                    alt="Image 2"
                />
            </div>
        </div>
    </div>
</div>
{% endblock content %}
